@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #080946;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
